/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

 /*GENERAL*/
img{
    width: 100%;
    display: block;
}

.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.bottom{
    padding: 7px 15px;
    border-radius: 3px;
    border: 1px solid white;
}

.green-bottom{
    border-color: green;
    background-color: green;
    text-transform: uppercase;
    display: inline-block;
    font-size: 10px;
    padding: 10px 15px;
}

/*HEADER*/
header{
    height: 500px;
    width: 100%;
    background-image: url(../img/background-header.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: #123861;
    background-position: 110% 103%;
}

.contenitore{
    width: 82%;
    margin: auto;
    position: relative;
}

nav{
    text-transform: uppercase;
    padding-top: 10px;
}

.col-logo{
    width: 10%;
}
.col-menu{
    width: 55%;
}
.col-login{
    width: 35%;
}

div.col-menu ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 10px;
    margin-top: 15px;
}

div.col-menu ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

div.col-menu ul:first-child{
    margin: 0px 0px 0px 30px;
}

.col-login div{
    display: inline-block;
    font-size: 10px;
    margin: 8px 10px;
    color: white;
}

.primo-piano{
    width: 57%;
    color: white;
    position: absolute;
    margin-top: 15%;
}

.motto{
    font-size: 50px;
    margin-bottom: 15px;
}
/*FINE HEADER*/

/*MAIN*/
main div.avviso{
    padding: 2% 0;
    text-align: center;
    background-color: lightgrey;
    font-size: 12px;
    line-height: 2;
}

main div.clearfix{
    width: 82%;
    margin: 2% auto;
}

/*tabella tre colonne*/
.col-left,
.col-center,
.col-right{
    width: 30%;
}

.col-center{
    margin: 0 5%;
}

div.clearfix{
    text-align: center;
}

div img{
    margin: 15px 0;
}

.img-fit{
    height: 125px;
    object-fit: contain;
}

div hr{
    margin: 15px 115px;
}

.green-text{
    color: green;
    font-size: 23px;
    font-weight: bold;
}

hr{
    margin: 3% 1%;
}
/*fine tabella tre colonne*/

/*tabella due colonne*/
.col-img,
.col-text{
    width: 50%;
    height: 350px;
}

.col-img{
    background-image: url(../img/mountain.svg);
}

.col-text{
 text-align: left;
 padding-left: 50px;
 padding-top: 50px;
}

div.col-text div{
    margin: 15px 0;
}

div.col-text a{
    font-size: 10px;
}
/*finne tabella due colonne*/

/*FINE MAIN*/
